@import 
    '../../scss/variables/variables',
    '../../scss/mixins/mixins';
.header {
    padding: 10px 0;
    position: relative;
    text-align: center;
}
.menu-button {
    position: absolute;
    top: 10px;
    left: 0;
    height: 30px;
    width: 30px;
    &__icon {
        @include centered;
        width: 24px;
        height: 24px;
        fill: $white;
    }
}
.app-title {
    display: inline-block;
    line-height: 1;
    align-self: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    @include font-size(16px);
    font-weight: $regular;
    letter-spacing: 1px;
}