@import '../variables/variables';
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  @mixin reset-list {
    list-style-type: none;
    padding: 0;
  }

  @mixin centered() {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @function spacing($var: $paragraph-margin, $unit: 2 ) {
    @return calc(#{$var} * 0.5);
  } 
  