@import 
    '../../scss/variables/variables',
    '../../scss/mixins/mixins';

.forecast {
    &__location {
        @include font-size-h1;
        margin: spacing($heading-margin, 0.5) 0;
        line-height: 1.2;
        line-height: 1;
        position: relative;
    }
    &__day {
        margin: 0;
        font-weight: $light;
        @include font-size-h2;
        line-height: 1;
        margin-bottom: spacing($heading-margin, 0.5);
    }
    &__meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: $paragraph-margin;
        flex-wrap: wrap;
    }
    &__text {
        @include font-size-h3;
        line-height: 1.2;
        font-weight: $semi-bold;
        margin-top: 0;
    }
}
.astro {
    @include reset-list;
    margin: 0;
    flex: 0 1 100%;
}
.astro-item {
    float: left;
    position: relative;
    line-height: 20px;
    
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 20px;
        fill: $yellow;
    }
    &--sunrise {
        font-weight: $bold;
        padding-left: 40px;
    }
    &--sunset {
        padding-left: 10px;
    }
}
.conditions {
    display: flex;
    &__left {
        flex: 1 1 60%;
    }
    &__right {
        flex: 1;
        padding-left: 20px;
        align-self: flex-start;
    }
    &__icon {
        fill: $white;
        width: 100%;
        max-width: 250px;

    }
    &__temp {
        //@include font-size-h1;
        font-size: 18vw;
        font-weight: $bold;
        display: block;
        text-align: right;
        line-height: 1;
        padding-top: 20px;
    }
}

@include screen-bigger-than($screen-phone) {
    .forecast {
        &__day {
            margin: 0;
        }
        &__meta {
            flex-wrap: nowrap;
        }
    }
    .astro {
        flex: 0 1 auto;
        align-self: flex-end;
    }
    .conditions {
        &__temp {
            @include font-size(80px);
        }
    }
}