@import '../variables/variables';
.button {
    outline: none;
    border: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    &__icon {
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        fill: $white;
    }
}