@import 
    '../../scss/variables/variables',
    '../../scss/mixins/mixins';
.day-menu {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 480px;
    overflow-x: auto;
    &__track {
        width: 3000px;
        display: block;
    }
    &__list {
        @include reset-list;
        margin: 0;
        display: flex;
        width: auto;
    }
}
.day-item {
    display: flex;
    padding: 20px 15px;
    flex-wrap: wrap;
    background-color: transparent;
    margin-right: 1px;
    &__title {
        width: 100%;
        margin: 0 0 spacing($paragraph-margin, 0.25);
        @include font-size-h3;
        font-weight: $light;
        line-height: 1;
    }
    &__column {
        &--left {
            width: 55%;
        }
        &--right {
            width: 45%;
            text-align: right;
            padding-left: 10px;
        }
    }
    &__icon {
        width: 100%;
        fill: $white;
    }
    &__temp {
        @include font-size-h3;
        line-height: 1;
        margin: 0;
        &--max {
            font-weight: $bold;
        }
        &--min {
            font-weight: $light;
        }
    }
    &[data-active='false'] {
        background-color: rgba(255,255,255,0.2);
    }
}